@page "{title?}"
@model ZMS.Areas.Equipment.Pages.EquipmentModel
@{
    ViewData["Title"] = "Equipment Management";
}

<div>
    <h1>
        View And Manage Equipment<a style="float:right;" class="btn btn-outline-primary" asp-area="Equipment" asp-page="">Add new Gear</a>
        <a style="float:right;" class="btn btn-outline-primary" asp-area="Equipment" asp-page="">Periodic Inspection</a>
    </h1>
</div>

@if (Model.NeedsAttention > 0)
{<div id="CenterIt" class="alert alert-danger">You have @Model.NeedsAttention pieces of equipment that need to be looked at <a asp-page="">Review Now</a></div>}
 
<form method="get">
    <div class="btn-group btn-block" role="group">
        <input asp-for="Search" class="btn btn-secondary" value="Harness" type="submit" />
        <input asp-for="Search" class="btn btn-secondary" value="Helmet" type="submit" />
        <input asp-for="Search" class="btn btn-secondary" value="Trolley" type="submit" />
        <input asp-for="Search" class="btn btn-secondary" value="Lanyard" type="submit" />
        <input asp-for="Search" class="btn btn-secondary" value="Carabiner" type="submit" />
        <input asp-for="Search" class="btn btn-secondary" value="Gloves" type="submit" />
        <input asp-for="Search" class="btn btn-secondary" value="Radio" type="submit" />
        <input asp-for="Search" class="btn btn-secondary" value="Radio_Harness" type="submit" />
        <input asp-for="Search" class="btn btn-secondary" value="Camera" type="submit" />
        <input asp-for="Search" class="btn btn-secondary" value="Rope" type="submit" />
        <input asp-for="Search" class="btn btn-secondary" value="Misc" type="submit" />
    </div>
    
    <!--<div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" placeholder="Search by label number" asp-for="Search" />
            <div class="input-group-append">
                <button class="btn btn-secondary">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </div>-->
</form>
<hr />
<div class="table-responsive">
    <table class="table table-sm table-hover table-striped table-bordered">
        <caption>Here is your gear</caption>
        <thead class="thead-dark">
            <tr>
                <th scope="col">Type</th>
                <th scope="col">Label Number</th>
                <th scope="col">Location</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var g in Model.GearSearch)
            {
            <tr>
                <td>@g.GearType</td>
                <td>@g.LabelNumber</td>
                <td>@g.Location</td>
                <td>@g.Status</td>
                <td>
                    <a class="btn btn-sm" asp-area="Equipment" asp-page=""
                       asp-route-applicantId="">
                        <i class="fas fa-search-plus"></i>
                    </a>
                    <a class="btn btn-sm" asp-area="Equipment" asp-page=""
                       asp-route-applicantId="">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a class="btn btn-sm" asp-area="Equipment" asp-page="" asp-route-applicantId=""><i class="fas fa-trash"></i></a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

