@using System;
@using ZMS.Domain.Equipment
@model List<Gear>

<div class="table-responsive">
    <table class="table table-sm table-hover table-striped table-bordered">
        <!--<caption></caption>-->
        <thead class="thead-dark">
            <tr>
                <th scope="col">Model</th>
                <th scope="col">Label</th>
                <th scope="col">Serial #</th>
                <th scope="col">First Used</th>
                <th scope="col">Size</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        @foreach (var g in Model)
        {
        <tbody>
            <tr>
                <td>@g.GearModel</td>
                <td>@g.LabelNumber</td>
                <td>@g.SerialNumber</td>
                <td>@g.DateOfFirstUse</td>
                <td>@g.Size</td>
                <td>@g.Status</td>
                <td>
                    <a class="btn btn-sm" asp-area="Equipment" asp-page="/Details"
                       asp-route-gearId="">
                        <i class="fas fa-search-plus"></i>
                    </a>
                    <a class="btn btn-sm" asp-area="Eqipment" asp-page="/Edit"
                       asp-route-gearId="">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a class="btn btn-sm" asp-area="Equipment" asp-page="/Delete" asp-route-gearId="">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
        </tbody>
        }
    </table>
</div>